/* latin */
@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Stencil Regular'), local('AllertaStencil-Regular'), url(http://fonts.gstatic.com/s/allertastencil/v8/CdSZfRtHbQrBohqmzSdDYHyjZGU_SYMIAZWjSGDHnGA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.retroTitle{
    background-image: url("../images/headerbg.jpg");
    marging-top:-100px;
}

.footer {
  position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-image: url("../images/headerbg.jpg");
   color: black;
   text-align: center;
   z-index: 200;
}

 .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 100%;
	text-align: left;
}
.header{
	text-align:left;
}
.caret{
	margin-top:10px;
}

textarea{
    resize:none;
    rows:3;
}
.messages {
    list-style: none;
}

.retroTitleRight{
float: right;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

#userinfo{
    float: right;
    padding: 10px;
    padding-right: 30px;
    padding-top: 40px;

}
.form-header {
    padding-right: 20px;
}
.rightPanel{
    color:white;font-weight:bold;
}
.copyright{
    font-size:20px;
    font-family: 'Allerta Stencil';
}
.footerFeed{
    float:right;
    padding-right:30px;
    padding-top:10px;
}

.rightPanel:hover{
    color:orange;
}