{% extends "retro/base.html" %}
{% load i18n static %}
{% load retro_extras %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans
    'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans
    'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
{{ block.super }} » <a href="{% url 'password_change' %}">Password Change</a>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div id="content-main">

    <form method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}"Please correct the error below."{% else %}
                "Please correct the errors below."{% endif %}
            </p>
            {% endif %}

            <h3 style="color:grey;">Password change</h3><br>
            <p>Please enter your old password, for security's sake, and then enter your new password twice so
                we can verify you typed it in correctly.</p>

            <fieldset class="module aligned wide">


                <div class="form-group row">
                    <div class="col-sm-2">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.old_password|addcss:'form-control'}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-2">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.new_password1|addcss:'form-control' }}
                    </div>
                    <div class="new_pass col-sm-4"><br><br>
                        {% if form.new_password1.help_text %}

                        <div class="help">
                            {{ form.new_password1.help_text|safe }}
                        </div>

                    </div>
                    {% endif %}

                </div>
                <hr>

                <div class="col-sm-2">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                </div>
                <div class="col-sm-2">
                    {{ form.new_password2|addcss:'form-control'}}
                    {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                    {% endif %}
                </div>
        </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Change my password" class="btn btn-primary"/>
        </div>

</div>
</form>
</div>

{% endblock %}
